body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f6f6ef;
  min-width: 600px;
  font-size: 0.8rem;
  overflow-x: hidden; /* curse you firefox */
}

/* nav */
.nav {
  display: flex;
  align-items: center;
  background-color: #ff6600;
  color: black;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.nav img {
  width: 35px;
  height: 35px;
  margin-right: 1em;
}

.nav a {
  margin-right: 1em;
}

.nav a:hover {
  color: white;
}

/* main */
#main {
  margin-top: 3em;
}

.story:nth-child(2n) {
  background-color: #e6e6df;
}

.story,
.header,
.footer,
.icon {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: orangered;
  text-decoration: underline;
}

.story {
  flex-direction: column;
  padding: 0.5em;
}

.header,
.footer,
.icon {
  align-items: center;
}

.footer {
  margin-left: 3.9em;
  margin-top: 0.5em;
}

.title {
  font-size: 1rem;
}

.score-pocket {
  display: flex;
  max-width: 4em;
}

.score {
  margin-right: 2em;
}

.author,
.comments {
  margin-right: 1.5em;
}

.score,
.score-icon {
  color: #ff6600;
}

.logo {
  display: inline-block;
  margin-right: 0.2em;
  width: 1em;
  height: 1em;
}

.score-icon,
.author-icon:hover,
.comments-icon:hover {
  filter: invert(37%) sepia(93%) saturate(7471%) hue-rotate(356deg)
    brightness(91%) contrast(135%);
}

/* btn */
.more-btn {
  color: orangered;
  padding: 0.2rem 1rem;
  margin: 1em 0 1em 0;
  display: inline-block;
  margin-left: 50%;
}

.more-btn:hover {
  cursor: pointer;
}

/* spinner */
.spinner {
  display: flex;
  justify-content: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  background-color: orangered;
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
